{% extends 'base.html.twig' %}

{% block title %}Category index{% endblock %}

{% block body %}
    <h1>Categories</h1>

    <div class="mdc-layout-grid container">
        {% for category in categories %}
            <div class="mdc-layout-grid__cell bg-warning p-2 mb-2 px-3 d-flex">
                <div class="justify-content-start mr-auto">
                    <a class="m-0 text-light"
                       href="{{ path('category_show', {'id': category.id}) }}">{{ category.Name }}</a>
                    <p class="m-0">{{ category.Description }}</p>
                    <a class="mdc-chip bg-dark my-2" href="{{ path('category_show', {'id': category.id }) }}">
                        <span class="mdc-chip__text text-light">{{ category.Name }}</span>
                    </a>
                </div>
                <div class="justify-content-end text-right col-4">
                    <p class="m-0">Posts</p>
                    <span class="text-light">- {{ category.posts|length }} Post(s) in this category</span>
                </div>
                {#<div class="justify-content-end text-left">#}
                {#<p class="m-0">Author</p>#}
                {#<a class="m-0 text-light" href="{{ path('user_show', {'id': post.user.id }) }}">{{ post.user }}</a>#}
                {#</div>#}
            </div>
        {% else %}
            <div class="mdc-layout-grid__cell">
                No categories found
            </div>
        {% endfor %}
    </div>

    {#<a href="{{ path('category_new') }}">Create new</a>#}
{% endblock %}
