{% extends 'base.html.twig' %}

{% block title %}Post index{% endblock %}

{% block body %}
    <h1>Symforum</h1>

    <div class="mdc-layout-grid container">
        {% for post in posts %}
            <div class="mdc-layout-grid__cell bg-warning p-2 mb-2 px-3 d-flex">
                <div class="justify-content-start mr-auto ">
                    <a class="m-0 text-light" href="{{ path('post_show', {'id': post.id}) }}">{{ post.Subject }}</a>
                    <p class="m-0">{{ post.Body|easyadmin_truncate(100) }}</p>
                    <a class="mdc-chip bg-dark my-2" href="{{ path('category_show', {'id': post.category.id }) }}">
                        <span class="mdc-chip__text text-light">{{ post.category }}</span>
                    </a>
                </div>
                <div class="justify-content-end text-right col-4">
                    <p class="m-0">Author</p>
                    <a class="m-0 text-light" href="{{ path('user_show', {'id': post.user.id }) }}">{{ post.user }}</a>
                </div>
            </div>
        {% else %}
            <div class="mdc-layout-grid__cell">
                No posts found
            </div>
        {% endfor %}
    </div>

    <a class="mdc-button mdc-button--raised bg-dark mt-3" href="{{ path('post_new') }}">New post</a>
{% endblock %}
